/bin/
/include/
/lib/
pip-selfcheck.json
/share/
/the-expanse/
/*.sublime-project
/*.sublime-workspace
../man/
../MITIE/
aylien-cache/
aylien_credentials.txt
test.png
output.txt
mitie-binary-classifiers.txt
/man/
/MITIE/
